<f:if condition="{data.tx_maagitcontainer_parent} == 0"><div id="c{data.uid}" class="container frame frame-{data.frame_class} frame-type-maagitcontainer frame-layout-{data.layout} <f:render section='space_before' arguments='{_all}' /> <f:render section='space_after' arguments='{_all}' />"></f:if>
	<div class="row">
		<div class="col-sm-6 <f:render section='align_items' arguments='{_all}' />">
			<f:for each="{children_201}" as="element">
				{element.renderedContent -> f:format.raw()}
			</f:for>
		</div>
		<div class="col-sm-6 <f:render section='align_items' arguments='{_all}' />">
			<f:for each="{children_202}" as="element">
				{element.renderedContent -> f:format.raw()}
			</f:for>
		</div>
	</div>
<f:if condition="{data.tx_maagitcontainer_parent} == 0"></div></f:if>



<f:section name="space_before">
	<f:if condition="{data.space_before_class}">frame-space-before-{data.space_before_class}</f:if>
</f:section>

<f:section name="space_after">
	<f:if condition="{data.space_after_class}">frame-space-after-{data.space_after_class}</f:if>
</f:section>

<f:section name="align_items">
	<f:if condition="{data.tx_maagitcontainer_samecolumnlength}">d-flex align-items-stretch</f:if>
</f:section>